@import "../_config.scss";

html,
body {
	background-color: #fff;
	font-size: 0;
}

.ui-main {
	background-color: #fff;
	font-size: 0;
}

.ui-top {
	display: relative;
	position: fixed;
	top: 0;
	height: 1rem;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #515151;
	z-index: 10000;
}

.ui-top__left {
	position: absolute;
	top: .25rem;
	left: .35rem;
	height: .5rem;
	width: .5rem;
	background-size: .5rem;
	@include bgi-center(url(../../image/lecture/back.png));
}

.ui-top__title {
	line-height: 1rem;
	font-size: .38rem;
}

.ui-top__search {
	position: absolute;
	top: .25rem;
	right: .35rem;
	height: .5rem;
	width: .5rem;
	background-size: .5rem;
	@include bgi-center(url(../../image/lecture/search.png));
}

.ui-tap {
	display: flex;
	width: 100%;
	height: 1rem;
	margin-top: 1rem;
	font-size: .32rem;
	background-color: #f3eeee;
	@include line(down);
}

.ui-tap__tap {
	flex: 1;
	line-height: 1rem;
	text-align: center;
	transition: color 1s ease;
}

.is-change {
	border-bottom: 1px solid #071af5;
	color: #071af5;
}

.ui-list {
	// margin-top: 1rem;
	font-size: .26rem;
}



.ui-item {
	min-height: 2rem;
	padding-left: 1.5rem;
	padding-right: .3rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
	@include line(down);
}

.ui-item__avater {
	position: absolute;
	top: .3rem;
	left: .3rem;
	width: 1rem;
	height: 1rem;
	background-size: 1rem;
	border-radius: 1rem;
	@include bgi-full(url(../../image/placeholder.png));
}

.ui-item__name {
	position: absolute;
	top: 1.5rem;
	left: .45rem;
}

.ui-item__info {
	padding-left: .3rem;
}

.ui-item__title {
	font-size: .28rem;
	font-weight: 500;
}

.ui-line {
	display: block;
	position: relative;
	padding-left: .37rem;
}

.ui-item__icon {
	position: absolute;
	top: .02rem;
	left: 0;
	width: .3rem;
	height: .3rem;
	background-size: .3rem;
	@include bgi-center(url(../../image/lecture/time.png));
    &.is-locationIcon {
    	@include bgi-center(url(../../image/lecture/location.png));
    }
    &.is-typeIcon {
    	@include bgi-center(url(../../image/lecture/type.png));
    }
}

.ui-item__content {
	display: inline-block;
	line-height: .4rem;
}