@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
html,
body {
  background-color: #efefef;
  font-size: 0; }

.ui-main {
  height: 100%; }

.ui-info {
  margin-top: .3rem;
  padding-left: .3rem;
  padding-right: .3rem;
  background-color: #fff; }

.ui-line {
  position: relative;
  height: 1rem;
  width: 100%;
  line-height: 1rem;
  font-size: .3rem;
  background-color: #fff;
  position: relative; }
  .ui-line:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    -webkit-transform: scale(1, 0.5);
       -moz-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
         -o-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center; }
  .ui-line.is-big {
    height: 1.5rem; }

.ui-line__label {
  float: left; }
  .ui-line__label.is-big {
    line-height: 1.5rem; }

.ui-line__avatar {
  float: right;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: .15rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/placeholder.png); }

.ui-line__info {
  float: right;
  color: #969595; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJhc2ljSW5mby5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsa0JBQWlCO0FBQ2pCOztJQUVHO0FBQ0g7O0lBRUc7QUFDSCwwQkFBeUI7QUFDekI7OztJQUdHO0FBQ0gsbUJBQWtCO0FBQ2xCLGtCQUFpQjtBQUNqQjs7Ozs7SUFLRztBQUNILFVBQVM7QUFDVCxVQUFTO0FBQ1QsYUFBWTtBQUNaLFlBQVc7QUFDWCxZQUFXO0FBQ1gsV0FBVTtBQUNWLFlBQVc7QUFDWCxXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixTQUFRO0FBQ1IsV0FBVTtBQUNWLFdBQVU7QUFDVixXQUFVO0FBQ1YsWUFBVztBQUNYOztFQUVFLDJCQUEwQjtFQUMxQixjQUFhLEVBQUU7O0FBRWpCO0VBQ0UsY0FBYSxFQUFFOztBQUVqQjtFQUNFLG1CQUFrQjtFQUNsQixxQkFBb0I7RUFDcEIsc0JBQXFCO0VBQ3JCLHdCQUF1QixFQUFFOztBQUUzQjtFQUNFLG9CQUFtQjtFQUNuQixjQUFhO0VBQ2IsYUFBWTtFQUNaLG1CQUFrQjtFQUNsQixrQkFBaUI7RUFDakIsd0JBQXVCO0VBQ3ZCLG9CQUFtQixFQUFFO0VBQ3JCO0lBQ0UsYUFBWTtJQUNaLGdCQUFlO0lBQ2Ysb0JBQW1CO0lBQ25CLFNBQVE7SUFDUixXQUFVO0lBQ1YsYUFBWTtJQUNaLGFBQVk7SUFDWiwyQkFBMEI7SUFDMUIsa0NBQXlCO09BQXpCLCtCQUF5QjtRQUF6Qiw4QkFBeUI7U0FBekIsNkJBQXlCO1lBQXpCLDBCQUF5QjtJQUN6Qix5Q0FBZ0M7T0FBaEMsc0NBQWdDO1FBQWhDLHFDQUFnQztTQUFoQyxvQ0FBZ0M7WUFBaEMsaUNBQWdDLEVBQUU7RUFDcEM7SUFDRSxnQkFBZSxFQUFFOztBQUVyQjtFQUNFLGFBQVksRUFBRTtFQUNkO0lBQ0UscUJBQW9CLEVBQUU7O0FBRTFCO0VBQ0UsY0FBYTtFQUNiLGVBQWM7RUFDZCxnQkFBZTtFQUNmLG9CQUFtQjtFQUNuQiw4QkFBNkI7RUFDN0IsMEJBQXlCO0VBQ3pCLG9DQUEyQjtLQUEzQixpQ0FBMkI7T0FBM0IsK0JBQTJCO1VBQTNCLDRCQUEyQjtFQUMzQixvREFBbUQsRUFBRTs7QUFFdkQ7RUFDRSxjQUFhO0VBQ2IsZ0JBQWUsRUFBRSIsImZpbGUiOiJtZS9iYXNpY0luZm8uY3NzIiwic291cmNlUm9vdCI6Ii4uL3Nhc3MvIn0= */